@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&display=swap");

/* Variables
  ============================================ */

//Colors
$white: #fff;
$veryLightGray: #f1f1f1;
$lightGray: #e6e6e6;
$gray: #8c8c8c;
$darkGray: #565656;
$nearBlack: #1e1e1e;
$black: #000;

$green: #8bc34a;
$blue: #00bcd4;

/* Mixins
  ============================================ */
@mixin flexCenterHV() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flexCenterH {
  display: flex;
  justify-content: center;
}

@mixin flexCenterV {
  display: flex;
  align-items: center;
}

/* Misc
  ============================================ */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: "Open Sans", sans-serif;
  line-height: 1.4;
  @include flexCenterHV;
  background-color: $lightGray;
}

a {
  color: $darkGray;
  text-decoration: none;
}
